.LibGuidesEmbed {
	float: left;
	width: 250px;
}

.LibGuidesEmbed h1 {
	margin-top: 0;
	padding-top: 0;
}

.mainMenuContent {
	width: 850px;
	overflow: hidden;
}

.mainMenuContentLeft {
	margin-left: 15px;
}