.LibGuidesEmbed {
	float: left;
	width: 250px;
}

.LibGuidesEmbed h1 {
	margin-top: 0;
	padding-top: 0;
}

.mainMenuContent {
	width: 850px;
	overflow: hidden;
}

.mainMenuContentLeft {
	margin-left: 15px;
}

/*#toplogoMoreNav>li>div>a:link, #toplogoMoreNav>li>div>a:visited {
	padding: 13px 15px 0 15px;
}*/

.searchNavLinks {
    margin: 4px 0 0 10px;
    float: left;
    color: white;
}

.searchNavLinks a {
	color: wheat;	
}